<div
                    id="layout-sidenav"
                    class="layout-sidenav sidenav sidenav-vertical bg-dark"
                >
                    <!-- Brand demo (see assets/css/demo/demo.css) -->
                    <div class="app-brand demo">
                        <span class="app-brand-logo demo">
                            <img
                                src="assets/img/logo.png"
                                alt="Brand Logo"
                                class="img-fluid"
                            />
                        </span>
                        <a
                            href="index.html"
                            class="app-brand-text demo sidenav-text font-weight-normal ml-2"
                            >Dashboard</a
                        >
                        <a
                            href="javascript:"
                            class="layout-sidenav-toggle sidenav-link text-large ml-auto"
                        >
                            <i class="ion ion-md-menu align-middle"></i>
                        </a>
                    </div>
                    <!-- Links -->
                    <ul class="sidenav-inner py-1">
                        <!-- Dashboards -->
                        <li class="sidenav-item active">
                            <a href="#" class="sidenav-link">
                                <i class="sidenav-icon feather icon-user"></i>
                                <div>User</div>
                                
                            </a>
                        </li>
                        <li class="sidenav-item">
                            <a href="#!index.html" class="sidenav-link">
                                <i class="sidenav-icon feather icon-tv"></i>
                                <div>Movie</div>
                                
                            </a>
                        </li>

                        
                    </ul>
                    <div class="sidenav-divider mt-0"></div>

                </div>