<!-- catalog -->
<div class="catalog">
    <div class="container">
        <div class="row">
            <!-- card -->
            <div
                ng-hide="changeData"
                class="col-6 col-sm-4 col-lg-3 col-xl-2"
                ng-repeat="item in AllMovie"
            >
                <div class="card">
                    <div class="card__cover">
                        <img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/{{item.poster_path}}"
                            alt=""
                        />
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">{{item.title}}</a>
                        </h3>
                        <span class="card__rate"
                            ><i class="icon ion-ios-star"></i
                            >{{item.vote_average}}</span
                        >
                    </div>
                </div>
            </div>
            <div
                ng-show="changeData"
                class="col-6 col-sm-4 col-lg-3 col-xl-2"
                ng-repeat="item in TypeOfMovie"
            >
                <div class="card">
                    <div class="card__cover">
                        <img
                            src="https://image.tmdb.org/t/p/w220_and_h330_face/{{item.poster_path}}"
                            alt=""
                        />
                        <a href="#" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title">
                            <a href="#">{{item.title}}</a>
                        </h3>
                        <span class="card__rate"
                            ><i class="icon ion-ios-star"></i
                            >{{item.vote_average}}</span
                        >
                    </div>
                </div>
            </div>
            <!-- end card -->
            <!-- paginator -->
            <div class="col-12">
                <ul class="paginator">
                    <li class="paginator__item paginator__item--prev">
                        <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                    </li>
                    <li class="paginator__item"><a href="#">1</a></li>
                    <li class="paginator__item paginator__item--active">
                        <a href="#">2</a>
                    </li>
                    <li class="paginator__item"><a href="#">3</a></li>
                    <li class="paginator__item"><a href="#">4</a></li>
                    <li class="paginator__item paginator__item--next">
                        <a href="#"
                            ><i class="icon ion-ios-arrow-forward"></i
                        ></a>
                    </li>
                </ul>
            </div>
            <!-- end paginator -->
        </div>
    </div>
</div>
<!-- end catalog -->
