<!-- page title -->
<section
    class="section section--first section--bg"
    data-bg="img/section/section.jpg"
>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section__wrap">
                    <!-- section title -->
                    <h2 class="section__title">Profile</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->

<!-- about -->
<section
    class="section"
    style="background-color: #212529"
    ng-controller="SiginCtr"
>
    <div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: 0.5rem">
                    <div class="row g-0">
                        <div
                            class="col-md-4 gradient-custom text-center text-white"
                            style="
                                border-top-left-radius: 0.5rem;
                                border-bottom-left-radius: 0.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            "
                        >
                            <img
                                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                                alt="Avatar"
                                class="img-fluid my-5"
                                style="width: 100px; height: 100px"
                            />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6 class="how__title">Information</h6>
                                <hr class="mt-0 mb-4" />
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6 class="how__title">Username</h6>
                                        <p class="how__text" ng-model="Info">
                                            {{Info.username}}
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="how__title">Email</h6>
                                        <p class="how__text" ng-model="Info">
                                            {{Info.email}}
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="how__title">Phone</h6>
                                        <p class="how__text" ng-model="Info">
                                            {{Info.phone}}
                                        </p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6 class="how__title">Birthday</h6>
                                        <p class="how__text" ng-model="Info">
                                            {{Info.birthday}}
                                        </p>
                                    </div>
                                </div>
                                <div
                                    class="d-grid gap-2 d-md-flex justify-content-md-end"
                                    style="margin-top: 30px"
                                >
                                    <button
                                        class="header__sign-in"
                                        type="button"
                                        style="color: white"
                                        ng-click="logout()"
                                    >
                                        Log Out
                                    </button>
                                </div>
                                <hr class="mt-0 mb-4" />
                                <div class="d-flex justify-content-start">
                                    <a href="#!"
                                        ><i
                                            class="fab fa-facebook-f fa-lg me-3"
                                        ></i
                                    ></a>
                                    <a href="#!"
                                        ><i
                                            class="fab fa-twitter fa-lg me-3"
                                        ></i
                                    ></a>
                                    <a href="#!"
                                        ><i class="fab fa-instagram fa-lg"></i
                                    ></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about -->
