<div class="container">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
        <div
            class="tab-pane fade show active"
            id="tab-1"
            role="tabpanel"
            aria-labelledby="1-tab"
        >
            <div class="row">
                <!-- card -->
                <div
                    class="col-6 col-sm-12 col-lg-6"
                    ng-repeat="movies in GetAllMovie"
                >
                    <div class="card card--list">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="card__cover">
                                    <img
                                        src="https://image.tmdb.org/t/p/w220_and_h330_face/{{movies.poster_path}}"
                                        alt=""
                                    />
                                    <a href="#!movies" class="card__play">
                                        <i class="icon ion-ios-play"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="col-12 col-sm-8">
                                <div class="card__content">
                                    <h3 class="card__title">
                                        <a target="_self" href="#!movies"
                                            >{{movies.title}}</a
                                        >
                                    </h3>
                                    <span class="card__category">
                                        <a
                                            target="_self"
                                            href="#"
                                            ng-repeat="genre in movies.genre_list.split(',')"
                                        >
                                            {{genre}}</a
                                        >
                                    </span>

                                    <div class="card__wrap">
                                        <span class="card__rate"
                                            ><i class="icon ion-ios-star"></i
                                            >{{movies.vote_average}}</span
                                        >

                                        <ul class="card__list">
                                            <li>{{movies.quality}}</li>
                                            <li>{{movies.age}}+</li>
                                        </ul>
                                    </div>

                                    <div class="card__description">
                                        <p>{{movies.overview}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div
            class="tab-pane fade"
            id="tab-2"
            role="tabpanel"
            aria-labelledby="2-tab"
        >
            <div class="row">
                <!-- card -->
                <div
                    class="col-6 col-sm-4 col-lg-3 col-xl-2"
                    ng-repeat="item in ListMovie"
                >
                    <div class="card">
                        <div class="card__cover">
                            <img
                                src="https://image.tmdb.org/t/p/w220_and_h330_face/{{item.poster_path}}"
                                alt=""
                            />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#{{item.id}}"
                                    >{{item.title}}</a
                                >
                            </h3>
                            <span class="card__category">
                                <a
                                    target="_self"
                                    href="#"
                                    ng-repeat="genre in item.genre_list.split(',') | limitTo:2"
                                    >{{genre}}</a
                                >
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i
                                >{{item.vote_average}}</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div
            class="tab-pane fade"
            id="tab-3"
            role="tabpanel"
            aria-labelledby="3-tab"
        >
            <div class="row">
                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#"
                                    >I Dream in Another Language</a
                                >
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Action</a>
                                <a target="_self" href="#">Triler</a>                            
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>8.4</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover3.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Benched</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.1</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover2.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Whitney</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Romance</a>
                                <a target="_self" href="#">Drama</a>
                                <a target="_self" href="#">Music</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>6.3</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover6.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Blindspotting</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                                <a target="_self" href="#">Drama</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.9</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover4.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#"
                                    >I Dream in Another Language</a
                                >
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Action</a>
                                <a target="_self" href="#">Triler</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>8.4</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover5.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Benched</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.1</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover6.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Whitney</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Romance</a>
                                <a target="_self" href="#">Drama</a>
                                <a target="_self" href="#">Music</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>6.3</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover5.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Blindspotting</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                                <a target="_self" href="#">Drama</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.9</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover4.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#"
                                    >I Dream in Another Language</a
                                >
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Action</a>
                                <a target="_self" href="#">Triler</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>8.4</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover3.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Benched</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.1</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover2.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Whitney</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Romance</a>
                                <a target="_self" href="#">Drama</a>
                                <a target="_self" href="#">Music</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>6.3</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->

                <!-- card -->
                <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                    <div class="card">
                        <div class="card__cover">
                            <img src="../img/covers/cover.jpg" alt="" />
                            <a target="_self" href="#" class="card__play">
                                <i class="icon ion-ios-play"></i>
                            </a>
                        </div>
                        <div class="card__content">
                            <h3 class="card__title">
                                <a target="_self" href="#">Blindspotting</a>
                            </h3>
                            <span class="card__category">
                                <a target="_self" href="#">Comedy</a>
                                <a target="_self" href="#">Drama</a>
                            </span>
                            <span class="card__rate"
                                ><i class="icon ion-ios-star"></i>7.9</span
                            >
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
    <!-- end content tabs -->
</div>
