<div class="header__wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__content">
                    <!-- header logo -->
                    <a href="#!home" class="header__logo">
                        <img src="./img/logo.svg" alt="" />
                    </a>
                    <!-- end header logo -->

                    <!-- header nav -->
                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="#!home" class="header__nav-link">Home</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="#!genre" class="header__nav-link">Genre</a>
                        </li>
                        <!-- end dropdown -->

                        <li class="header__nav-item">
                            <a href="#!plan" class="header__nav-link"
                                >Pricing</a
                            >
                        </li>
                    </ul>
                    <!-- end header nav -->

                    <!-- header auth -->
                    <div class="header__auth">
                        <button class="header__search-btn" type="button">
                            <i class="icon ion-ios-search"></i>
                        </button>

                        <a href="#!signin" class="header__sign-in" ng-hide="loggedIn">
                            <i class="icon ion-ios-log-in"></i>
                            <span>Sign In</span>
                        </a>
                        <a href="#!profile" ng-show="loggedIn">
                           <img src="./img/home/profile.png" alt="" style=" width: 30px; height: 30px;  margin-left: 30px;">
                        </a>
                    </div>
                    <!-- end header auth -->

                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- end header menu btn -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- header search -->
<form action="#" class="header__search">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__search-content">
                    <input
                        type="text"
                        placeholder="Search for a movie, TV Series that you are looking for"
                    />

                    <button type="button">search</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- end header search -->
<script src="../js/main.js"></script>
